body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.navbar{
 	border: 2px solid black;
 	width: 75px;
    height: 600px;
    background-color: red;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.navbar{
 transition-timing-function: linear
}
.navbar:hover{
	width: 150px
}

.navul{ 
	background-color: green;
}

.navul{
	border: 2px solid black;
	margin-top: 50px;
	float: left;
	width: 33px;
	height: 400px;
	-webkit-transition: width 2.2s;
	transition: width 2.2s;
}

.navul{
	transition-timing-function: linear;
}

.navul:hover{

	width: 150px
}

.navli{
	font-family: 'Alfa Slab One', cursive;
	font-size: 24px;
}


.navli{
	background-color: red;
	padding-top: 10px;
	padding-left: 3.75px;
	padding-right: 0;
	margin-top: 20px;
	margin-right: 35px;
}

.navli{
	display: block;
	border: 1px solid black;
	width: 15px;
	height: 25px;
}

.navli{
	-webkit-transition: width 2s;
    transition: width 2s;
	-webkit-transition: height 2.5s;
	transition: height 2.5s;
	transition-timing-function: linear;
}

.navli:hover{
	width: 210px;
	height: 45px;
}

.navli a:link{
	color: yellow;
}

.navli a:visited{
	color: yellow;
}

.centerwrapper{
	width: 900px;
	margin: 0px auto;
}

a:link{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

h1{
	text-align: center;
}

li{
	line-height: 30px;
}

ul{
	list-style: circle;
}



