body{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.navbar{
 	border: 2px solid black;
 	width: 75px;
    height: 600px;
    background-color: #5CD6D6;
    -webkit-transition: width 2s;
    transition: width 2s;
	transition-timing-function: linear
}

.navbar-wrapper{
	width: 300px;
	float: left;
}

.navbar:hover{
	width: 150px
}

.navul{ 
	background-color: #FFFFA1;
	border: 2px solid black;
	margin-top: 50px;
	float: left;
	width: 33px;
	height: 400px;
	-webkit-transition: width 2.2s;
	transition: width 2.2s;
	transition-timing-function: linear;
}

.navul:hover{
	width: 150px
}

.navli{
	font-family: 'Alfa Slab One', cursive;
	font-size: 24px;
	background-color: #5CD6D6;
	padding: 10px 0px 0px 3.75px;
	margin: 20px 35px 0px 0px;
	display: block;
	border: 1px solid black;
	width: 15px;
	height: 25px;
	-webkit-transition: width 2s;
    transition: width 2s;
	-webkit-transition: height 2.5s;
	transition: height 2.5s;
	transition-timing-function: linear;
}

.navli:hover{
	width: 210px;
	height: 45px;
}

.navli a:link{
	color: #FF0066;
}

.navli a:visited{
	color: #FF0066;
}

.centerwrapper{
	width: 900px;
	margin: 0px auto;
}

a:link{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

h1{
	text-align: center;
	margin-top: 0px;
}

li{
	line-height: 30px;
}

ul{
	list-style: circle;
}

.image-wrapper{
	text-align: center;
}

.title{
	padding-top: 50px;
	font-size: 60px;
	margin-top: 0px;
}

.subtitle{
	text-align: center;
	font-size: 40px;
}

#iframe-wrapper{
	padding: 40px;
}




